.batch-section{
    min-height: 80vh;
}
.batch-cont {
  max-width: 320px;
  width: 100%;
}
.image-cont {
  width: 50px;
  height: 60px;
  margin-bottom: 20px;
}
.image-cont img {
  width: 100%;
}
.modal-content {
  padding: 40px;
}
.modal-body h4 {
  font-size: 24px;
  font-weight: 700;
}
.inner-content {
  margin: 16px 32px;
  width: 100%;
}
.inner-content .google-btn {
  position: relative;
  padding: 12px 16px;
  background-color: #ffff;
  border: 1px solid #d9dae0;
  color: #0000;

  border-radius: 10px;
}
.inner-content .google-btn span {
  font-size: 14px;
  font-weight: 600;
  color: #000;
  text-align: center;
}
.inner-content .google-btn img {
  position: absolute;
  left: 15px;
}

.inner-content .facebook-btn {
  position: relative;
  padding: 12px 16px;
  background-color: rgb(24 119 242) !important;
  border-radius: 10px;
  border: 1px solid rgb(24 119 242);
}

.inner-content .facebook-btn .facebook-icon {
  position: absolute;
  left: 15px;
  font-size: 26px;
}
.inner-content .facebook-btn span {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}

.inner-content .apple-btn {
  position: relative;
  padding: 12px 16px;
  background-color: #000;
  border-radius: 10px;
  border: 1px solid #000;
}

.inner-content .apple-btn .apple-icon {
  position: absolute;
  left: 15px;
  font-size: 26px;
}
.inner-content .apple-btn span {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}
.inner-content .Or-cont {
  display: block;
  width: 100%;
  color: #93949a;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.inner-content .Or-cont::before {
  content: "";
  background-color: #f2f3f7;
  display: block;
  height: 1px;
  flex: 1 1 0%;
  margin-right: 10px;
}
.inner-content .Or-cont::after {
  content: "";
  background-color: #f2f3f7;
  display: block;
  height: 1px;
  flex: 1 1 0%;
  margin-left: 10px;
}
.inner-content .email-btn {
  padding: 12px 16px;
  background-color: rgba(38, 55, 122, 6%);
  border-radius: 10px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  color: #000;
  text-align: center;
}

.inner-content .signin-link {
  color: #410cd9;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  margin: 15px 0;
}
.inner-content .signin-link:hover {
  text-decoration: underline;
}
.inner-content .end-text {
  color: #93949a;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  min-width: 80%;
}
.inner-content .end-text .anker-link {
  color: #410cd9;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}
.inner-content .button-main {
  gap: 10px;
}
